*.7zip
*.zip

*/composer.lock

vendor/phpmailer/phpmailer/.*
vendor/phpmailer/phpmailer/*.md


vendor/phpmailer/phpmailer/docs/*
vendor/phpmailer/phpmailer/!docs/README.md
vendor/phpmailer/phpmailer/test/message.txt
vendor/phpmailer/phpmailer/test/testbootstrap.php
vendor/phpmailer/phpmailer/build/
vendor/phpmailer/phpmailer/vendor/
vendor/phpmailer/phpmailer/*.pem
vendor/phpmailer/phpmailer/composer.lock
vendor/phpmailer/phpmailer/.phpcs.xml
vendor/phpmailer/phpmailer/phpcs.xml
vendor/phpmailer/phpmailer/.phpcs-cache
vendor/phpmailer/phpmailer/.rnd
vendor/phpmailer/phpmailer/test/PHPMailerTest.php*nonexistent_file.txt
vendor/phpmailer/phpmailer/test/*/PHPMailerTest.php*nonexistent_file.txt
vendor/phpmailer/phpmailer/phpunit.xml
vendor/phpmailer/phpmailer/.phpunit.result.cache