* {
    font-family: 'Roboto', sans-serif;
}

.thead {
    background-color: #80D8FF;
}

th {
    vertical-align: middle;
    text-align: center;
}

th {
    padding: 5px;
    background-color: #80D8FF;
}

.btn {
    background-color: #80D8FF;
    color: black;
    border-color: black;
}

.rounded-left {
    border-radius: 20px 0 0 20px !important;
}

.rounded-right {
    border-radius: 0 20px 20px 0 !important;
}

table {
    box-shadow: 0 0 5px 0;
    overflow: auto;


}

.thead-total {
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
    bottom: 0;
    background-color: #80D8FF;
    border: 2px;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #80D8FF;
}

.center {
    vertical-align: middle;
}

.clear-btn-style {
    background-color: white;
    border: 0px;
    border-radius: 10px;
}

.trash {
    margin: 0px;
}

.trash:hover {
    color: #185d96;
}

