@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body{
    font-family: 'Roboto';
    background: #fafafa;
    background-image: linear-gradient(#fafafa, #80D8FF);
    font-size: larger;
}
.header{
    height: 100px;
    width: 100%;
    background-color: white;
    margin: 0 0 20px;
}
.footer{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #fff;
}
.MyLogo{
    padding: 40px;
    padding-left: 180px;
    padding-top: 15px;
    display: inline-flex;
}
.box-area{
    width: 930px;
}
.right-box{
    padding: 40px 30px 40px 40px;
}
::placeholder{
    font-size: 16px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}
.row{
    padding-top: 20px;
}
.btn-light{
    padding-bottom: 10px;
}
.or{
    color: #ccc;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: .75rem;
}
.container.d-flex{
    padding-bottom: 40px;
    padding-top: 40px;
}
 .header .navbar {
    padding: 40px 0;
    float: right;
}
.header .navbar ul{
    list-style-type: none;
}
.header .navbar ul li {
    padding-right: 30px;
    display: inline-block;
    position: relative;
}
.header .navbar .subnav{
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);;
    min-width: 160px;
    display: none;
    top: 100%;
    right: 0;
}
.header .navbar .subnav a, .header .navbar li:hover .subnav{
    display: block;
}
 .header .navbar .subnav a{
    text-decoration: none;
    font-size: 15px;
    padding: 10px 0;
}

@media only screen and (max-width: 767px){
     .box-area{
        margin: 0 2px;
     }
     .left-box{
        height: 0;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
     .MyLogo{
        padding-top: 15px !important;
        padding-left: 150px !important;
        
     }
     .namepage{
        display: none;
    }
    .container{
        min-height: 0 !important;
        padding: 30px;
    }
}
@media only screen and (max-width: 1023px){
    .container{
        min-height: 0 !important;
        padding: 30px;
    }
    .MyLogo{
        padding-top: 15px;
        padding-left: 280px;
     }
}
